In [111]:
import numpy as np
import pandas as pd
import re
from scipy import spatial
from collections import OrderedDict

In [42]:
with open('data/sentence.txt', 'r') as f:
    lines = f.readlines()
    
lines = list(map(str.lower, lines))

In [60]:
def split(line):
    tokens = re.split('[^a-z]', line)
    return [tok for tok in tokens if tok != '']

In [63]:
sentences = list(map(split, lines))

In [78]:
all_words = {}
counter = 0
for sentence in sentences:
    for word in sentence:
        if word not in all_words:
            all_words[word] = counter
            counter += 1
len(all_words)

254

In [93]:
tf = np.zeros((len(sentences), len(all_words)))

In [94]:
for i, sentence in enumerate(sentences):
    for word in sentence:
        tf[i, all_words[word]] += 1

In [96]:
np.unique(tf, return_counts=True)

(array([0., 1., 2., 3.]), array([5145,  404,   37,    2]))

In [117]:
dst = [spatial.distance.cosine(tf[0], i) for i in tf]

In [119]:
pd.DataFrame({'dst': dst}).sort_values(by='dst')

         dst
0   0.000000
6   0.732739
4   0.777089
21  0.825036
10  0.832817
12  0.839643
16  0.840636
20  0.842757
2   0.864474
13  0.870359
14  0.874012
11  0.880477
8   0.884272
19  0.888544
3   0.895172
9   0.905509
7   0.925875
5   0.940239
15  0.944272
18  0.944272
1   0.952754
17  0.956645

In [120]:
lines[6]

'domestic cats are similar in size to the other members of the genus felis, typically weighing between 4 and 5 kg (8.8 and 11.0 lb).\n'

In [124]:
lines[4]

'in one, people deliberately tamed cats in a process of artificial selection, as they were useful predators of vermin.\n'

In [121]:
lines[0]

'in comparison to dogs, cats have not undergone major changes during the domestication process.\n'